*,*::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --hue-neutral: blue;
    --hue-wrong: red;
    --hue-correct: green;

}

body {
    /* --hue: var(--hue-netural); */
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--hue-neutral);
}

body.correct {
    background: var(--hue-correct);
}

body.wrong {
    background: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    /* background: var(--hue-neutral); */
    border: 1px solid var(--hue-neutral);
    background-color: var(--hue-neutral);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background: var(--hue-correct);
    /* color: black; */
}

.btn.wrong {
    background: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}


